@font-face {
	font-family: 'Satoshi';
	src: url('/static/fonts/Satoshi/Satoshi-Regular.otf') format("truetype");
}

@font-face {
	font-family: 'Satoshi-Medium';
	src: url('/static/fonts/Satoshi/Satoshi-Medium.otf') format("truetype");
}

@font-face {
	font-family: 'Satoshi-Bold';
	src: url('/static/fonts/Satoshi/Satoshi-Bold.otf') format("truetype");
}

@font-face {
	font-family: 'Satoshi-Black';
	src: url('/static/fonts/Satoshi/Satoshi-Black.otf') format("truetype");
}

.koko {
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

h1 {
	font-family: 'Satoshi-Black';
	font-size: 3.25rem;
	color: #fafbfc;
	
}

h2, h3 {
	font-family: 'Satoshi-Bold';
	color: #fafbfc;
}

p, ul, input, label {
	font-family: 'Satoshi';
	color: #fafbfc;
}

a {
	font-family: 'Satoshi-Medium';
	color: #fafbfc;
}

h4 {
	font-family: 'Satoshi-Medium';
	color: #fafbfc;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.text-var {
	color: #8395c1;
}

h4, .p-var {
	font-size: 1.1rem;
}

p, input, label, a, li {
	font-size: 1.1rem;
}

.asteriskField {
    display: none;
}

.btn-hm {
	background: #8395c1;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: #FAFBFC;	
}

.btn-hm-alter {
	background: none;
	border: 1px solid #8395c1;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: #FAFBFC;	
}

.btn-hm:hover, .btn-hm-alter:hover {
	background: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: #8395c1;	
	border: 1px solid #8395c1;
}

.progress {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-mute {
	color: #A9A9A9;
}

.text-unmute {
	color: #fafbfc !important;
}