{% load static %}

<div class="container-fluid aboutme-fluid" id="aboutme">
	<div class="row">
		<div class="col-lg-12">
			<h2>Allow me to introduce myself</h2>
			<p class="mt-4 text-mute">
				My name is <span class="text-unmute">Ryan Angelo B. Dela Cruz</span> but people close to me call me Gelo, Jing or Gel whichever they are used to. I am 21 years old and finds to like playing MOBA games and listening to mellow type of music. Every weekends, I watch movie, anime and K-drama.</br></br>

				I have recently graduated from <span class="text-unmute">Technological University of the Philippines- Cavite with the course of Bachelor of Engineering Technology major in Computer Engineering Technology.</span> I would say that over the course of time, I discover my ulterior interest and passion for web development and programming. These aspects allow me to constantly develop and grow my skills and knowledge in these fields.
			</p>
			<div class="d-flex gap-3">
				<a class="btn btn-hm mt-2" href="{{personal_info.csv}}" target="_blank">my linkedin<i class="bi bi-linkedin ps-2 fs-4"></i></a>
				<a class="btn btn-hm-alter mt-2" href="{{personal_info.csv}}" target="_blank">check my CV<i class="bi bi-arrow-right ps-2 fs-4"></i></a>
			</div>
		</div>
	</div>
</div>
