{% load static %}
<div class="container-fluid education-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<h2>My journey has been exponential yet dynamic</h2>
			</div>
			<div class="row mt-4">
				<div class="col-lg-3">
					<h3>2023</h3>
				</div>
				<div class="col-lg-9">
					<div>
						<h4>Graduated from Technological University of the Philippines - Cavite  </h4>
						<p class="text-mute">Bachelor of Engineering Technology major in Computer Engineering Technology<br>
						</p>
					</div>
					<div class="mt-5">
						<h4>Have my OJT at Bargn Farmaceutici Phils. Co  </h4>
						<p class="text-mute">IT Support Intern<br>
						</p>
					</div>
					
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-lg-3">
					<h3>2019</h3>
				</div>
				<div class="col-lg-9">
					<div>
						<h4>Graduated from Queen Anne School of Dasmarinas  </h4>
						<p class="text-mute">Humanities and Social Sciences<br>
						</p>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-lg-3">
					<h3>2001</h3>
				</div>
				<div class="col-lg-9">
					<div>
						<h4>I reincarnated as a normal Human being  </h4>
						<p class="text-mute">From being an OP magician in other parallel universe<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>