{% load static %}

<div class="row iam_top_row">
	<h1 class="text-center">I am /</h1>
</div>

<div class="row iam_row">
	<div class="col-lg-12 text-center">
		<h3>a Web Designer</h3>
		<p>Lorem ipsum dolor set amit lorem ipsum dolor set amit lorem ipsum dolor set amit</p>
	</div>
	<div class="col-lg-4 center_col">
		<h3 class="text-center">a Web Developer</h3>
		<p>Lorem ipsum dolor set amit lorem ipsum dolor set amit lorem ipsum dolor set amit</p>
	</div>
	<div class="col-lg-4">
		<img class="img-fluid" src="{% static 'Images/designer.svg' %}" alt="hero.jpg">
	</div>
	<div class="col-lg-4 center_col">
		<h3 class="text-center">a Programmer</h3>
		<p>Lorem ipsum dolor set amit lorem ipsum dolor set amit lorem ipsum dolor set amit</p>
	</div>
	<div class="col-lg-12 text-center">
		<h3>an Aspirant</h3>
		<p>Lorem ipsum dolor set amit lorem ipsum dolor set amit lorem ipsum dolor set amit</p>
	</div>
</div>