{% load static %}

<div class="container-fluid projects-fluid" id="myprojects">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="">I have developed some personal and academic projects </h2>
		</div>
	</div>
	<div class="row d-flex gap-4 mt-4">
		<div class="col-lg-12">
			<div class="project-card p-3">
				<h4>Django</h4>
				<a class="project-link" href="">
					<h3>Ryannn06/Digital-Thesis-Archive</h3>
				</a>
				<p class="text-mute">A digital thesis archive system</p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="project-card p-3">
				<h4>Nextjs</h4>
				<a class="project-link" href="">
					<h3>Ryannn06/Plant-co</h3>
				</a>
				<p class="text-mute">A static website for plant services and decoration</p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="project-card p-3">
				<h4>Python</h4>
				<a class="project-link" href="">
					<h3>Ryannn06/Inventory-Python-Application</h3>
				</a>
				<p class="text-mute">An inventory software application created in python</p>
			</div>
		</div>
	</div>
</div>


