{% load static %}
<div class="skills-fluid">
	<div class="row">
		<h2>I have my skills, knowledge and personal favorites</h2>
	</div>
	<div class="row mt-4">
		<div class="col-lg-12">
			<h3 class=""><i class="bi bi-code pe-2"></i>Front-end developer</h3>
			<p class="text-mute">My knowledge and skills with front-end development</p>
			<ul class="list-unstyled front-end mt-4">
				<li class="">
					<div class="progress-bar-label">
						<p>HTML</p>
						<p>95%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="HTML" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="mt-3">
					<div class="progress-bar-label">
						<p>CSS</p>
						<p>95%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="CSS" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="mt-3">
					<div class="progress-bar-label">
						<p>JS</p>
						<p>85%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="JS" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="mt-3">
					<div class="progress-bar-label">
						<p>Boostrap</p>
						<p>94%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="Bootstrap" style="width: 94%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="mt-3">
					<div class="progress-bar-label">
						<p>Figma</p>
						<p>90%</p>	
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="Figma" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-lg-12">
			<h3 class=""><i class="bi bi-braces pe-2"></i>Back-end developer</h3>
			<p class="text-mute">My knowledge and skills with back-end development</p>
			<ul class="list-unstyled mt-4">
				<li class="">
					<div class="progress-bar-label">
						<p>Django</p>
						<p>95%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="Django" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="mt-3">
					<div class="progress-bar-label">
						<p>Next.js</p>
						<p>89%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-label="Netxjs" style="width: 89%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="mt-3">
					<div class="progress-bar-label">
						<p>MySQL</p>
						<p>85%</p>	
					</div>
					
					<div class="progress">
					  <div class="progress-bar " role="progressbar" aria-label="MySQL" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row mt-5">
		<h3><i class="bi bi-heart-fill pe-2"></i>Favorites</h3>
		<p class="text-mute">Music, cute clips, milk and the rain</p>
		<div class="col-lg-12 mt-4">
			<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/72sfmdpuO5r8cBDgs7MqZZ?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		</div>
	</div>
</div>