{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/navbar.css' %}?{% now "U" %}"">

{% block content%}

<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="{% url 'home' %}">
    Gelooqt
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>	
        <li class="nav-item">
          <a class="nav-link" href="">Projects</a>
        </li> 
    </ul>
  </div>
</nav>
{% endblock %}